//colors

$color1: #50514F;
$color2: #247BA0;
$color3: #FFE066;
$color4: #F25F5C;
$color5: #70C1B3;
$color6: #EFEFEF;
$color7: #d78f5c;
$color8: #96b6c1;
$color10: #F1F4F6;

$logoBackgroundColor: #587B7F;
$sidebarBackgroundColor: #393E41;
$successColor: #96C42E;

$sidebarWidthDesktop: 230px;
