// init
@import '_variables';

//
$primary: $logoBackgroundColor;
$secondary: #1E2019;
$info: #009FB7;
$warning: #FED766;
$success: $successColor;
$danger: #D80032;

$grid-breakpoints: (
  // Extra small screen / phone
        xs: 0,
  // Small screen / phone
        sm: 768px,
  // Medium screen / tablet
        md: 992px,
  // Large screen / desktop
        lg: 1200px,
  // Extra large screen / wide desktop
        xl: 1400px
);

// bootstrap
@import '~bootstrap/scss/bootstrap-reboot.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap/scss/bootstrap-grid.scss';

// app
@import '_base';
