@import '~styles/variables';

.table-container-outer {
  width: 100%;
  position: relative;
  overflow-x: scroll;
}

.table-container-inner {
  min-width: 100%;
}

.table {
  max-width: none;
  margin: 0;
  td, th {
    width: 300px;
    border-right: 1px solid #e9ecef;
  }
  tbody {
    background-color: #fff;
  }
}
